# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:

- task: Npm@1
  displayName: 'npm install'
  inputs:
    command: 'install'
    workingDir: 'DatingApp-SPA'

- task: Npm@1
  displayName: 'install angular/cli'
  inputs:
    command: 'custom'
    workingDir: 'DatingApp-SPA'
    customCommand: 'install -g @angular/cli'

- task: Npm@1
  displayName: 'build angular'
  inputs:
    command: 'custom'
    workingDir: 'DatingApp-SPA'
    customCommand: 'run build-prod'

- script: dotnet build DatingApp.API/DatingApp.API.csproj --configuration $(buildConfiguration) 
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2 
  displayName: 'dotnet publish $(buildConfiguration)'
  inputs:
    command: publish
    publishWebProjects: True
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: 'publish artifacts'
